In [1]:
# Importing Libraries/Dependencies
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.chrome.service import Service
import requests
import re
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [4]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [8]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [9]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2019 Renault KWID,3.95 Lakh,1.0 RXT Opt BSIV,"29,321 kms",Petrol,Manual
76,2021 Hyundai Tucson,23.10 Lakh,GLS AT,"11,828 kms",Petrol,Automatic
77,2017 Jeep Compass,12.40 Lakh,2.0 Longitude,"58,463 kms",Diesel,Manual
78,2021 Renault KWID,4.40 Lakh,RXL,"4,491 kms",Petrol,Manual
79,2020 Kia Seltos,14.25 Lakh,HTX G,"13,400 kms",Petrol,Manual

In [20]:
driver.close()

In [21]:
# Connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [22]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [25]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [26]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Maruti Ciaz,7.40 Lakh,1.4 Alpha,"46,322 kms",Petrol,Manual
1,2018 Maruti Swift Dzire,6.63 Lakh,VXI 1.2,"30,692 kms",Petrol,Manual
2,2020 Hyundai Venue,10.80 Lakh,SX Turbo,"15,331 kms",Petrol,Manual
3,2021 Mahindra XUV300,13.50 Lakh,W8 Option,"7,068 kms",Petrol,Manual
4,2018 Maruti Swift,7.10 Lakh,ZXI,"28,303 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2013 Fiat Linea,4.15 Lakh,T Jet Emotion,"54,000 kms",Petrol,Manual
76,2015 Jaguar XF,21.75 Lakh,2.2 Litre Executive,"83,000 kms",Diesel,Automatic
77,2015 Hyundai i20,6.45 Lakh,Asta Option 1.2,"34,000 kms",Petrol,Manual
78,2010 Ford Figo,2.85 Lakh,Petrol Titanium,"18,000 kms",Petrol,Manual
79,2019 Mercedes-Benz GLC,57.95 Lakh,Progressive 220d,"33,000 kms",Diesel,Automatic

In [27]:
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2013 Fiat Linea,4.15 Lakh,T Jet Emotion,"54,000 kms",Petrol,Manual
76,2015 Jaguar XF,21.75 Lakh,2.2 Litre Executive,"83,000 kms",Diesel,Automatic
77,2015 Hyundai i20,6.45 Lakh,Asta Option 1.2,"34,000 kms",Petrol,Manual
78,2010 Ford Figo,2.85 Lakh,Petrol Titanium,"18,000 kms",Petrol,Manual
79,2019 Mercedes-Benz GLC,57.95 Lakh,Progressive 220d,"33,000 kms",Diesel,Automatic

In [31]:
driver.close()

In [32]:
# Connecting to the webdriver
driver1 = webdriver.Chrome("chromedriver.exe")

In [33]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver1.get(url)
time.sleep(6)

In [37]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver1.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver1.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver1.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [38]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Maruti Celerio,3.92 Lakh,VXI AT,"59,183 kms",Petrol,Automatic
1,2021 Maruti Vitara Brezza,9.87 Lakh,VXI,600 kms,Petrol,Manual
2,2015 Honda Jazz,4.71 Lakh,1.2 VX i VTEC,"41,281 kms",Petrol,Manual
3,2017 Hyundai Creta,9.55 Lakh,1.6 VTVT SX Plus Dual Tone,"28,166 kms",Petrol,Manual
4,2015 Maruti Wagon R,3.21 Lakh,VXI BS IV,"27,141 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2022 Mercedes-Benz E-Class,92.00 Lakh,AMG E 350d,"2,100 kms",Diesel,Automatic
76,2020 Maruti Swift,8.25 Lakh,AMT ZXI,"12,800 kms",Petrol,Automatic
77,2019 Mercedes-Benz GLS,83.00 Lakh,350d 4MATIC,"21,000 kms",Diesel,Automatic
78,2011 BMW 5 Series,11.11 Lakh,520d Sedan,"77,800 kms",Diesel,Automatic
79,2021 MG Hector,18.00 Lakh,Sharp CVT,"27,200 kms",Petrol,Automatic

In [39]:
frame = [result, df3]
  
r1 = pd.concat(frame)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2022 Mercedes-Benz E-Class,92.00 Lakh,AMG E 350d,"2,100 kms",Diesel,Automatic
76,2020 Maruti Swift,8.25 Lakh,AMT ZXI,"12,800 kms",Petrol,Automatic
77,2019 Mercedes-Benz GLS,83.00 Lakh,350d 4MATIC,"21,000 kms",Diesel,Automatic
78,2011 BMW 5 Series,11.11 Lakh,520d Sedan,"77,800 kms",Diesel,Automatic
79,2021 MG Hector,18.00 Lakh,Sharp CVT,"27,200 kms",Petrol,Automatic

In [40]:
driver1.close()

In [41]:
# Connecting to the webdriver
driver2 = webdriver.Chrome("chromedriver.exe")

In [42]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver2.get(url)
time.sleep(6)

In [46]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver2.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver2.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver2.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [47]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Hyundai i20,6.83 Lakh,Sportz 1.4 CRDi,"56,476 kms",Diesel,Manual
1,2016 Honda Jazz,4.05 Lakh,1.5 S i DTEC,"1,12,617 kms",Diesel,Manual
2,2018 Hyundai Verna,12.86 Lakh,CRDi 1.6 SX Option,"78,773 kms",Diesel,Manual
3,2020 Hyundai Venue,10.24 Lakh,SX iMT,"18,158 kms",Petrol,Manual
4,2020 Hyundai Aura,7.29 Lakh,S,"15,578 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic
76,2020 Skoda Octavia,25.00 Lakh,2.0 TDI AT Style,"12,000 kms",Diesel,Automatic
77,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
78,2020 BMW 7 Series,1.10 Cr,740Li DPE Signature,"13,000 kms",Petrol,Automatic
79,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic

In [48]:
fram = [r1, df4]
  
r2 = pd.concat(fram)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic
76,2020 Skoda Octavia,25.00 Lakh,2.0 TDI AT Style,"12,000 kms",Diesel,Automatic
77,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
78,2020 BMW 7 Series,1.10 Cr,740Li DPE Signature,"13,000 kms",Petrol,Automatic
79,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic

In [49]:
driver2.close()

In [50]:
# Connecting to the webdriver
driver3 = webdriver.Chrome("chromedriver.exe")

In [51]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver3.get(url)
time.sleep(6)

In [54]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver3.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver3.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver3.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [55]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Renault KWID,2.85 Lakh,RXL,"15,581 kms",Petrol,Manual
1,2015 Honda City,7.18 Lakh,i VTEC CVT VX,"61,969 kms",Petrol,Automatic
2,2022 Maruti Ciaz,12.60 Lakh,Alpha AT,"3,665 kms",Petrol,Automatic
3,2014 Hyundai i20,3.65 Lakh,Sportz 1.2,"57,702 kms",Petrol,Manual
4,2019 Hyundai Creta,13.20 Lakh,1.6 SX Option,"24,441 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic
76,2020 Skoda Octavia,25.00 Lakh,2.0 TDI AT Style,"12,000 kms",Diesel,Automatic
77,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic
78,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
79,2020 BMW 7 Series,1.10 Cr,740Li DPE Signature,"13,000 kms",Petrol,Automatic

In [56]:
fra = [r2, df5]
  
r3 = pd.concat(fra)
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic
76,2020 Skoda Octavia,25.00 Lakh,2.0 TDI AT Style,"12,000 kms",Diesel,Automatic
77,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic
78,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
79,2020 BMW 7 Series,1.10 Cr,740Li DPE Signature,"13,000 kms",Petrol,Automatic

In [57]:
driver3.close()

In [58]:
# Connecting to the webdriver
driver4 = webdriver.Chrome("chromedriver.exe")

In [59]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver4.get(url)
time.sleep(6)

In [63]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver4.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver4.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver4.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [64]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Renault KWID,2.85 Lakh,RXL,"15,581 kms",Petrol,Manual
1,2015 Honda City,7.18 Lakh,i VTEC CVT VX,"61,969 kms",Petrol,Automatic
2,2022 Maruti Ciaz,12.60 Lakh,Alpha AT,"3,665 kms",Petrol,Automatic
3,2014 Hyundai i20,3.65 Lakh,Sportz 1.2,"57,702 kms",Petrol,Manual
4,2019 Hyundai Creta,13.20 Lakh,1.6 SX Option,"24,441 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic
76,2017 Hyundai Creta,11.00 Lakh,1.6 VTVT AT SX Plus,"59,000 kms",Petrol,Automatic
77,2019 Jeep Compass,17.75 Lakh,1.4 Limited Plus,"33,000 kms",Petrol,Automatic
78,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
79,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic

In [65]:
fr = [r3, df6]
  
r4 = pd.concat(fr)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2019 Jeep Compass,17.05 Lakh,1.4 Limited Plus BSIV,"32,294 kms",Petrol,Automatic
1,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic
2,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
3,2020 Tata Tiago,5.90 Lakh,XZ Plus Diesel,"69,848 kms",Diesel,Manual
4,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2015 Mercedes-Benz G,1.38 Cr,G63 AMG,"18,000 kms",Petrol,Automatic
76,2017 Hyundai Creta,11.00 Lakh,1.6 VTVT AT SX Plus,"59,000 kms",Petrol,Automatic
77,2019 Jeep Compass,17.75 Lakh,1.4 Limited Plus,"33,000 kms",Petrol,Automatic
78,2016 Mercedes-Benz S-Class,61.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic
79,2015 Audi A3,16.00 Lakh,35 TDI Premium Plus,"30,000 kms",Diesel,Automatic

In [67]:
driver4.close()

In [68]:
# Saving the scraped data into excel file
r4.to_excel("Used_Cars_Data.xlsx")

In [69]:
# Saving the scraped data into csv file
r4.to_csv("Used_Cars_Data.csv")